<section class="hero">
  <div class="content">
    <h1 class="title"><span class="joona-is-cool">[</span> acme-dns.io <span class="joona-is-cool">]</span></h1>
    <p class="lead text-center">acme-dns lets you <b>automate</b> DNS challenges from an ACME enabled CA in a <b>secure</b> way.</p>
    <p class="lead text-center">
      <a href="#register" id="getStarted" class="pure-button pure-button-primary">Get Started <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </p>
  </div>
</section>
