@font-face {
  font-family: 'overpass';
  src: url('../fonts/overpass-heavy.eot');
  src: url('../fonts/overpass-heavy.eot?#iefix') format('embedded-opentype'),
       url('../fonts/overpass-heavy.woff2') format('woff2'),
       url('../fonts/overpass-heavy.woff') format('woff'),
       url('../fonts/overpass-heavy.ttf')  format('truetype');
       font-weight: 900;
       font-style: normal;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  background-color: #DAEAEF;
  color: #272f32;
}

footer h4 {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: 'Oxygen', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
.featured {
    background: #31373a;
    background: -webkit-linear-gradient(45deg, #31373a , #4CA1AF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #31373a , #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.featured h3 {
    font-size: 1.8em;
    letter-spacing: 0.1em;
    padding-left: 0.4em;
    margin: 0;
    color: white;
    text-transform: uppercase;
    line-height: 1.8em;
}

.featured p {
 color: white;
    font-weight: 300;
    margin-left: 0.7em;
    padding-left: 1.7em;
}

.white {
  color: white !important;
}

.lead > .pure-button {
  background-color: transparent;
  padding: 1em 3em;
  color: black;
  border: solid 1px black;
  border-radius: 4px;
  text-transform: lowercase;
  transition: all 0.18s ease-in;
}

.lead > .pure-button:hover {
  background-color: #b3c2bf;
  color: white;
}

.title {
    color: #3b3a36;
    font-size: 6em;
    background-color: transparent;
    padding: 0.4em;
    font-family: 'overpass', sans-serif;
    font-weight: 900 !important;
    border-radius: 16px;
    text-align: center;
    text-transform: lowercase;
    margin: 0.5em 0.2em 0em !important;
}

.joona-is-cool {
  color: #03a9f4;
}

p.lead {
    font-size: 1.1em;
    text-align: left;
    margin: 0 auto 2em;
    font-weight: 400;
}

.modes {
  background-color: white;
}

.align-right {
  text-align: justify;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  line-height: 1.7em;
  font-size: 16px;
}
section.featured {
  border-top: solid 1em #00bcd4;
}
.featured .content {
  color: white;
  padding: 2.5em 0;
}

footer > .content {
  padding: 0 2em;
  background-color: transparent;
}

.step {
  background-color: white;
  margin-bottom: 2em;
  padding: 2em !important;
}

.page-container {
    position: absolute;
    top: 40%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: #daeaef;
}

.hero {
    z-index: 1;
    overflow: hidden;
    width: 100%;
    top: 2em;
    left: 0;
    position: fixed !important;
}

.shady {
  background-color: rgba(0,0,0,0.05);
}

.text-center {
  text-align: center !important;
}

// forms

.l-box {
    padding: 0em 1em 0 0;
}

.l-box-lrg {
 padding: 2.5em 2.5em 2.5em 0;
}

.featured .l-box-lrg {
 padding: 2em;
}

.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
    color: black;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}
