@font-face {
  font-family: 'overpass';
  src: url('../fonts/overpass-heavy.eot');
  src: url('../fonts/overpass-heavy.eot?#iefix') format('embedded-opentype'),
       url('../fonts/overpass-heavy.woff2') format('woff2'),
       url('../fonts/overpass-heavy.woff') format('woff'),
       url('../fonts/overpass-heavy.ttf')  format('truetype');
       font-weight: 900;
       font-style: normal;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px; /* bottom = footer height */
  background-color: #DAEAEF;
  color: #565c5d;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: 'Oxygen', sans-serif;
  text-transform: lowercase;
  font-weight: 900;
}
.featured {
    background: #272F32;
    border-top: solid 1px rgba(0,0,0,0.01);
    border-bottom: solid 1px rgba(0,0,0,0.01);
}

.featured h3 {
  font-size: 2.2em;
  padding: 0;
  margin: 0;
  color: white;
  text-transform: uppercase;
}

.featured p {
 color: white;
    border-left: solid 3px white;
    margin-left: 0.7em;
    padding-left: 1.7em;

}

.white {
  color: white !important;
}

.lead > .pure-button {
  background-color: transparent;
  padding: 1em 3em;
  color: black;
  border: solid 1px black;
  border-radius: 4px;
  text-transform: lowercase;
  transition: all 0.18s ease-in;
}

.lead > .pure-button:hover {
  background-color: #b3c2bf;
  color: white;
}

.title {
  color: #3b3a36;
  font-size: 6em;
  background-color: transparent;
  // border: solid 6px #35a4da;
  padding: 0.4em;
  font-family: 'overpass', sans-serif;
  font-weight: 900 !important;
  border-radius: 16px;
  text-align: center;
  line-height: 1em;
  margin: 1.8em -25px 0.2em !important;
}

.joona-is-cool {
  color: #b3c2bf;
}

p.lead {
  font-size: 1.3em;
  text-align: left;
  margin: 0 auto 2em;
}

.align-right {
  text-align: justify;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.7em;
  font-size: 16px;
  padding: 3.5em;
  background-color: white;
}
.featured .content {
  background-color: #272F32;
  color: white;
}

footer > .content {
  padding: 0 2em;
  background-color: transparent;
}

.content>h1, h2, h3 {
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 2em 0 1em;
}

.shady {
  background-color: rgba(0,0,0,0.05);
}

// forms

.l-box {
    padding: 0em 1em 0 0;
}

.l-box-lrg {
  padding: 0em 3.5em 3.5em 0em
}

.featured .l-box-lrg {
 padding: 3.5em;
}

.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
    color: black;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

// test

.rr > div {
  text-align: center;
}

.rr {
  position: relative;
  height: 200px;
  background: #232E39;
}
.rr.rr-left {
  z-index: 1;
  float: left;
  width: 55%;
}
.rr.rr-right {
  z-index: 2;
  float: right;
  width: 44%;
}

.rr:after,
.rr:before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
}

.rr-left:after {
  right: 0;
  border-left: 100px solid #232E39;
  border-bottom: 200px solid #dcdcdc;
}

.rr-right:before {
  left: -100px;
  border-right: 100px solid #232E39;
  border-top: 200px solid transparent;
}

.rr-left > div {
  margin-right: 100px;
  margin-left: 50px;
}

.rr-right > div {
  margin-right: 50px;
  margin-left: 25px;
}

.rr:hover {
  background: #101519;
}

.rr-left:hover:after {
  border-left-color: #101519;
}

.rr-right:hover:before {
  border-right-color: #101519;
}
