@font-face {
  font-family: 'overpass';
  src: url('../fonts/overpass-heavy.eot');
  src: url('../fonts/overpass-heavy.eot?#iefix') format('embedded-opentype'),
       url('../fonts/overpass-heavy.woff2') format('woff2'),
       url('../fonts/overpass-heavy.woff') format('woff'),
       url('../fonts/overpass-heavy.ttf')  format('truetype');
       font-weight: 900;
       font-style: normal;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  background-color: #DAEAEF;
  color: #272f32;
}

footer h4 {
  margin-bottom: 0;
}
pre {
  border-radius: 0;
  padding: 30px 15px;
  background: #ececec;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  font-size: 14px;
  color: #4a4a4a;
  border-left: 3px solid #03a9f4;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: 'Oxygen', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
.featured {
    background-color: #384255;
}

.content-container {
  padding: 4em;
}

.featured .fa {
  position: absolute;
  font-size: 12em;
  opacity: 0.05;
  transition: all 0.18s linear;
}

.featured .fa:hover {
  opacity: 0.25;
}

.featured h3 {
    font-size: 1.8em;
    letter-spacing: 0.1em;
    margin: 0;
    color: white;
    text-transform: uppercase;
    line-height: 1.8em;
}

.featured p {
  color: white;
  font-weight: 300;
}
.featured p:hover {
  text-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

.white {
  color: white !important;
}
/*
.lead > .pure-button {
  background-color: #03a9f4;
  padding: 1em 2em;
  color: white;
  // border: solid 1px black;
  border-radius: 4px;
  text-transform: lowercase;
  transition: all 0.18s ease-in;
}

.lead > .pure-button:hover {
  // background-color: #b3c2bf;
  // color: white;
}
*/
/* Button 4 */
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 1.5em 3em;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-4 {
  border: 1px solid #fff;
  color: black;
  text-decoration: none;
  overflow: hidden;
}

.icon-arrow-right:before {
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
  content: "\f061";
}

.btn-4:active {
  border-color: #17954c;
  color: #17954c;
}

.btn-4:hover {
  background: #03a9f4;
  color: white;
}

.btn-4:before {
  position: absolute;
  height: 100%;
  font-size: 125%;
  line-height: 3.5;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-4:active:before {
  color: #17954c;
}

/* Button 4a */
.btn-4a:before {
  left: 130%;
  top: 0;
}

.btn-4a:hover:before {
  left: 80%;
}

.title {
    color: #3b3a36;
    font-size: 6em;
    background-color: transparent;
    padding: 0.4em;
    font-family: 'overpass', sans-serif;
    font-weight: 900 !important;
    border-radius: 16px;
    text-align: center;
    text-transform: lowercase;
    margin: 0.5em 0.2em 0em !important;
}

.joona-is-cool {
  color: #03a9f4;
}

p.lead {
    margin: 0 auto 2em;
    word-spacing: 0em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.modes {
  background-color: #002129;
  padding: 2em;
}

.usage {
  background-color: #384255;
  padding: 2em;
}

.usage h1 {
    font-size: 2.4em;
    /* text-align: left; */
    padding: 1em;
    color: white;
}

.align-right {
  text-align: justify;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.7em;
  font-size: 16px;
}
section.featured {
  border-top: solid 0.8em #03a9f4;
}
.featured .content {
  color: white;
  padding: 2.5em 0;
}

footer > .content {
  padding: 0 2em;
  color: white;
}

footer > h4 {
  color: white;
}

.step {
  background-color: #eaf6fa;
  margin-bottom: 2em;
  padding: 2em !important;
  max-width: 1150px;
}

.step h2 {
  position: relative;
  margin-top: -1.34em;
  font-weight: bold;
  padding: 0.3em 0em 0.3em 2em;
  margin-left: -2.2em;
  margin-right: -1.34em;
  color: #fff;
  background-color: #03a9f4;
  -moz-box-shadow: 0px 2px 4px #888;
}

.step h2:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: 100%;
  border-width: 5px 10px;
  border-style: solid;
  border-color: #666 #666 transparent transparent;
}

.page-container {
    position: absolute;
    top: 40%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: #daeaef;
}

.hero {
    z-index: 1;
    overflow: hidden;
    width: 100%;
    top: 2em;
    left: 0;
    position: fixed !important;
}

.shady {
  background-color: #384255;
}

.text-center {
  text-align: center !important;
}

// forms

.l-box {
    padding: 0em 1em 0 0;
}

.l-box-lrg {
 padding: 2.5em 2.5em 2.5em 0;
}

.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
    color: black;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}
a.acme-link {
  color: red;
  text-decoration: none;
}

a.acme-link::before,
a.acme-link::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

a.acme-link::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

a.acme-link::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

a.acme-link:hover::before,
a.acme-link:hover::after,
a.acme-link:focus::before,
a.acme-link:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
