<section class="featured">
  <div class="content">
    <div class="pure-g">
      <div class="l-box-lrg pure-u-md-1-2 pure-u-sm-1-1">
        <h3><i class="fa fa-shield" aria-hidden="true"></i> Security</h3>
        <p class="align-right">Providing a limited API key, that only provides access to change a single TXT record; the magic name used by ACME DNS challenge: _acme-challenge.yourdomain.tld</p>
      </div>
      <div class="l-box-lrg pure-u-md-1-2 pure-u-sm-1-1">
        <h3><i class="fa fa-wheelchair-alt" aria-hidden="true"></i> Accessibility</h3>
        <p>Enabling you to use ACME DNS challenge even if your current DNS server software or service doesn't provide and automatable API for updating it.</p>
      </div>
    </div>
  </div>
</section>
<section class="modes">
  <div class="content">
      <h1>How it works?</h1>
      <p>ACME-DNS creates a limited DNS server that serves TXT records used to carry ACME challenge tokens when using the DNS challenge.</p>
      <p>Get an API key and a unique subdomain from ACME-DNS service. Add a CNAME record to your zone for the magic subdomain of the domain you want to automate DNS challenge for (eg. _acme-challenge.yourdomain.tld) pointing to the unique ACME-DNS subdomain you have. After this you are able to use your ACME-DNS API keys for the challenge automation.</p>
    <div class="text-center">
      <script type="text/javascript" src="https://asciinema.org/a/94462.js" id="asciicast-94462" async></script>
    </div>
    <div class="pure-g">
      <div class="l-box-lrg pure-u-md-1-2 pure-u-sm-1-1">
        <h3><i class="fa fa-server" aria-hidden="true"></i> Self-hosted</h3>
        <p>You are encouraged to run acme-dns as a self-hosted service. Go get the code from <a href="https://github.com/joohoi/acme-dns">Github</a>. Acme-dns is written in go, and runs on wide variety of operating systems.</p>
      </div>
      <div class="l-box-lrg pure-u-md-1-2 pure-u-sm-1-1">
        <h3><i class="fa fa-cogs" aria-hidden="true"></i> As a service</h3>
        <p>We are hosting the service, and it's free. While we aren't collecting any unnecessary information, please be aware that by using the service, you are basically authorizing us to act on your behalf in solving the challenge.<a href="/get">Get started</a>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="content-container">
  <div class="content">
    <h2>Step 1</h2>
    <p>First, you will need your user id, api key and unique subdomain to point that CNAME to. Click the button below to get them.</p>
  </div>
</section>

<section class="content-container">
  <div class="content">

<!-- Title, then full width box under -->
<!-- End full width box -->
  </div>
</section>
<section class="content-container" id="register">
  <div class="content">
    <div class="pure-g">
      <div class="l-box-lrg pure-u-md-1-2 pure-u-sm-1-1">
         <form class="pure-form pure-form-stacked" id="acmeForm">
          <fieldset>

            <label for="fullDomain">Full Domain</label>
            <input id="fullDomain" type="text" placeholder="...">

            <label for="subDomain">Sub Domain</label>
            <input id="subDomain" type="text" placeholder="...">

            <label for="username">Username</label>
            <input id="username" type="text" placeholder="...">

            <label for="password">Password</label>
            <input id="password" type="text" placeholder="...">

          </fieldset>
        </form>
      </div>
      <div class="l-box-lrg pure-u-md-1-2 pure-u-sm-1-1">
        <h4>Values explained</h4>
        <ul>
          <li><strong>Fulldomain</strong> - This is your ACME-DNS subdomain, that you should point your CNAME to.</li>
          <li><strong>Subdomain</strong> - This is the identifying part of the ACME-DNS subdomain, use this in your TXT update POST request. (Step 3)</li>
          <li><strong>Username</strong> - This is your username for the unique subdomain created. This goes in X-Api-User - HTTP header in the update POST request. (Step 3</li>
          <li><strong>Password</strong> - This is your API key. This goes in X-Api-Key - HTTP header in the update POST request. (Step 3)</li>
        </ul>
      </div>
    </div>
  </div>

<div class="content">
  <h2>Step 2</h2>
  <p>Next you will need to create a CNAME record in your DNS zone for the magic subdomain (_acme-challenge.) for your domain.</p>
  <p>If you are planning to use ACME-DNS to proxy DNS authentication for subdomains <i>sub1.some.domain.tld</i> and <i>domain.tld</i> you will need to add two CNAME records:</p>
  <ul class="no_balls_lol">
    <li>_acme-challenge.sub1.some.domain.tld. CNAME <span class="replace_with_subdomain_if_step1_button_clicked">&lt;your_unique_subdomain&gt;</span>.auth.acme-dns.io.</li>
    <li>_acme-challenge.domain.tld CNAME <span class="replace_with_subdomain_if_step1_button_clicked">&lt;your_unique_subdomain&gt;.auth.acme-dns.io</li>
  </ul>
</div>

<div class="content">
  <h2>Step 3</h2>
  <p>Put it to use! When attempting to solve ACME challenge, you can push the token to ACME-DNS, and if the CNAME is correct, the CA will follow it and ask for the token from ACME-DNS subdomain.</p>
  <p>You can automate it for many ACME clients out there, some examples below.</p>
  <!-- Here will be tabbed examples later on -->
  <code><pre>
    curl -X POST https://auth.acme-dns.io/update \
    -H "X-Api-User: <span class="replace_with_username_if_step1_button_clicked">&lt;your_username&gt;</span>" \
    -H "X-Api-Key: <span class="replace_with_password_if_step1_button_clicked">&lt;your_password&gt;</span>" \
    --data '{"subdomain": "<span class="replace_with_subdomain_if_step1_button_clicked">&lt;your_subdomain&gt;</span>", "txt": "________43_character_url_safe_token________"}'
    </pre></code>
  <p>Here's what it would look like in an automated script launched by ACME client:</p>
  <code><pre>
    curl -X POST https://auth.acme-dns.io/update \
    -H "X-Api-User: <span class="replace_with_username_if_step1_button_clicked">&lt;your_username&gt;</span>" \
    -H "X-Api-Key: <span class="replace_with_password_if_step1_button_clicked">&lt;your_password&gt;</span>" \
    --data '{"subdomain": "<span class="replace_with_subdomain_if_step1_button_clicked">&lt;your_subdomain&gt;</span>", "txt": "'"$TOKEN_PROVIDED_BY_ACME_CLIENT"'"}'
    </pre></code>
</div>

</section>
