<section class="featured">
  <div class="content">
    <div class="pure-g">
      <div class="l-box-lrg pure-u-md-1-2 pure-u-sm-1-1">
        <h3><i class="fa fa-shield" aria-hidden="true"></i> Security</h3>
        <p class="align-right">Acme-dns gives you a limited API key, that only allows updating of a single TXT record for your unique, generated subdomain. You can point a CNAME from your "magic" ACME subdomain (eg. "_acme-challenge.yourdomain.tld") to it to use your API credentials to update the challenge token.</p>

        <p>This way, if your box with the API key gets compromised, your DNS zone will stay safe. Everything that the attacker will be able to do is to create a new certificate for your domain - which would be possible anyway, taken to the account that the attacker has control over the box.</p>
      </div>
      <div class="l-box-lrg pure-u-md-1-2 pure-u-sm-1-1">
        <h3><i class="fa fa-wheelchair-alt" aria-hidden="true"></i> Accessibility</h3>
        <p>Most of DNS servers (software) do provide some kind of API to update the zone to be able to automate ACME DNS challenges as of now. However these methods have too many configuration caveats simply because they were never designed for this kind of automation.</p>
        <p>
        Acme-dns provides a simple, intentionally limited and intuitive API to automate updating ACME DNS challenge token for your subdomain. You can use acme-dns regardless of the DNS server software / service you are currently using, as long as it supports CNAME records!</p>
      </div>
    </div>
  </div>
</section>
<section class="content-container">
  <div class="content">
    <h1>Host your own instance or use ours</h1>

    <p>You should note that you are effectively authorizing the acme-dns instance to act on behalf of your actual DNS server when it comes to answering ACME DNS challenges. This means that whoever owns the domain name for acme-dns instance, is able to request a certificate for the domain that is pointing to it via CNAME.</p>
    <div class="pure-g">
      <div class="l-box-lrg pure-u-md-1-2 pure-u-sm-1-1">
        <h3><i class="fa fa-server" aria-hidden="true"></i> Self-hosted</h3>
        <p>You are encouraged to run acme-dns as a self-hosted service. Go get the code from <a class="acme-link" href="https://github.com/joohoi/acme-dns">Github</a>. Acme-dns is written in go, and runs on wide variety of operating systems.</p>
      </div>
      <div class="l-box-lrg pure-u-md-1-2 pure-u-sm-1-1">
        <h3><i class="fa fa-cogs" aria-hidden="true"></i> As a service</h3>
        <p>We are hosting the service, and it's free. While we aren't collecting any unnecessary information, please be aware that by using the service, you are basically authorizing us to act on your behalf in solving the challenge.<a class="acme-link" href="/get">Get started</a>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="usage">
  <div class="content text-center">
    <h1>Usage from the client perspective</h1>
    <script type="text/javascript" src="https://asciinema.org/a/94903.js" id="asciicast-94903" async></script>
  </div>
</section>

<section class="content-container" id="register">
  <div class="content">
<h1>How it works</h1>

<p>Acme-dns creates a simple DNS server that serves answers to TXT challenge queries used by certificate authorities implementing ACME protocol.</p>

<p>First you need to get a unique subdomain and API keys from acme-dns service. Then you'll need to create a CNAME record to your existing DNS zone, pointing to the newly created unique subdomain. After this you are able to automate answering to ACME DNS challenges in a simple and secure way using your ACME client of choice.</p>
  </div>
  <div class="content step">
    <h2>Step 1</h2>
    <p>First, you will need your user id, api key and unique subdomain to point that CNAME to. Click the button below to get them.</p>
    <div class="pure-g">
      <div class="l-box-lrg pure-u-md-1-2 pure-u-sm-1-1">
         <form class="pure-form pure-form-stacked" id="registerForm">
          <fieldset>

            <label for="fulldomain">Full Domain</label>
            <input class="fulldomain" type="text" placeholder="...">

            <label for="subdomain">Sub Domain</label>
            <input class="subdomain" type="text" placeholder="...">

            <label for="username">Username</label>
            <input class="username" type="text" placeholder="...">

            <label for="password">Password</label>
            <input class="password" type="text" placeholder="...">

          </fieldset>
        </form>
      </div>
      <div class="l-box-lrg pure-u-md-1-2 pure-u-sm-1-1">
        <h4>Values explained</h4>
        <ul>
          <li><strong>Fulldomain</strong> - This is your ACME-DNS subdomain, that you should point your CNAME to.</li>
          <li><strong>Subdomain</strong> - This is the identifying part of the ACME-DNS subdomain, use this in your TXT update POST request. (Step 3)</li>
          <li><strong>Username</strong> - This is your username for the unique subdomain created. This goes in X-Api-User - HTTP header in the update POST request. (Step 3</li>
          <li><strong>Password</strong> - This is your API key. This goes in X-Api-Key - HTTP header in the update POST request. (Step 3)</li>
        </ul>
      </div>
    </div>
  </div>

<div class="content step">
  <h2>Step 2</h2>
  <p>Next you will need to create a CNAME record in your DNS zone for the magic subdomain (_acme-challenge.) for your domain.</p>
  <p>If you are planning to use ACME-DNS to proxy DNS authentication for subdomains <i>sub1.some.domain.tld</i> and <i>domain.tld</i> you will need to add two CNAME records:</p>
  <ul class="no_balls_lol">
    <li>_acme-challenge.sub1.some.domain.tld. CNAME <span class="replace_with_subdomain_if_step1_button_clicked">&lt;your_unique_subdomain&gt;</span>.auth.acme-dns.io.</li>
    <li>_acme-challenge.domain.tld CNAME <span class="replace_with_subdomain_if_step1_button_clicked">&lt;your_unique_subdomain&gt;.auth.acme-dns.io</li>
  </ul>
</div>

<div class="content step">
  <h2>Step 3</h2>
  <p>Put it to use! When attempting to solve ACME challenge, you can push the token to ACME-DNS, and if the CNAME is correct, the CA will follow it and ask for the token from ACME-DNS subdomain.</p>
  <p>You can automate it for many ACME clients out there, some examples below.</p>
  <!-- Here will be tabbed examples later on -->
  <code><pre>
    curl -X POST https://auth.acme-dns.io/update \
    -H "X-Api-User: <span class="username">&lt;your_username&gt;</span>" \
    -H "X-Api-Key: <span class="password">&lt;your_password&gt;</span>" \
    --data '{"subdomain": "<span class="subdomain">&lt;your_subdomain&gt;</span>", "txt": "________43_character_url_safe_token________"}'
    </pre></code>
  <p>Here's what it would look like in an automated script launched by ACME client:</p>
  <code><pre>
    curl -X POST https://auth.acme-dns.io/update \
    -H "X-Api-User: <span class="username">&lt;your_username&gt;</span>" \
    -H "X-Api-Key: <span class="password">&lt;your_password&gt;</span>" \
    --data '{"subdomain": "<span class="subdomain">&lt;your_subdomain&gt;</span>", "txt": "'"$TOKEN_PROVIDED_BY_ACME_CLIENT"'"}'
    </pre></code>
</div>

</section>
<footer class="shady">
  <div class="content text-center">
    <h4>[ acme-dns.io ]</h4>
  </div>
</footer>
